<web-app xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0" metadata-complete="true">

  <servlet>
  <servlet-name>task14Servlet</servlet-name>
  <servlet-class>jd2_hw.cookies_and_sessions_topic4.task14.Task14Servlet</servlet-class>

    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/listexpenses?serverTimezone=UTC</param-value>
    </init-param>

    <init-param>
      <param-name>user</param-name>
      <param-value>root</param-value>
    </init-param>

    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>

  </servlet>

  <servlet-mapping>
    <servlet-name>task14Servlet</servlet-name>
    <url-pattern>/task14/</url-pattern>
  </servlet-mapping>


</web-app>
